<div class="px-12 grid grid-cols-4 gap-3 mt-4 overflow-y-auto md:grid-cols-2 sm:grid-cols-1">
  <mat-card
    *ngFor="let listObj of listingDetails | filterCatalogue: searchList"
    class="mt-6 relative"
    (mouseenter)="isHovered = true"
  >
    <div *ngFor="let slideObj of listObj.slideshow; let i = index" class="relative">
      <img
        *ngIf="i === listObj.counter"
        [src]="slideObj.imageUrl"
        class="rounded-md h-80 w-80" 
      />
        <div
      *ngIf="isHovered && i === listObj.counter"
      class="absolute inset-0 opacity-0 hover:opacity-100 transition duration-300 ease-in-out top-2/4 h-fit flex justify-between mx-4"
    >
      <button
        [ngClass]="{ 'opacity-0': listObj.counter === 0 }"
        class="bg-white hover:shadow-lg font-semibold rounded-full h-10 w-10 text-lg"
        (click)="decreaseQuantity(listObj)"
      >
      <
      </button>
      <button
        [ngClass]="{
          'opacity-0': listObj.counter === listObj.slideshow.length - 1
        }"
        class="bg-white hover:shadow-lg font-semibold rounded-full h-10 w-10 text-lg"
        (click)="increaseQuantity(listObj)"
      >
        >
      </button>
        </div>
    </div>
    
    <p class="mb-12 pt-2">{{ listObj.location }}</p>
    <p class="mb-12" class="text-gray-500">{{ listObj.number_of_beds }} beds</p>
    <p class="pt-3 text-base">
      {{ listObj.price | currency : "INR" }}
      <span class="text-sm text-gray-600">night.</span>
    </p>
  </mat-card>
</div>
